*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button, input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
img {
    border-style: none;
}
:root {
  --window-background: #34374b;
  --buttons-color-main: orange;
  --buttons-color-accent: yellow;
  --font-color: wheat;
}
body {
  background-color: var(--window-background)
}
.content {
  background-color: var(--window-background);
  margin: 0 auto;
  height: 100vh;
  width: 60vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
input {
  display: none;
}
.media {
  max-width: 70vw;
  height: 80%;
  padding: 0 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.meme {
  padding: 0.5vw;
  display: block;
  height: auto;
  height: 100%;
  object-fit: contain;
  border-radius: 5%;
  transition: 0.5s ease-in-out;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}
.captions {
  width: 70%;
  height: 2.5vw;
  padding-left: 5vw;
  overflow: hidden;
}
.captions p {
    display: flex;
    font-size: 2.5vw;
    color: var(--font-color);
    transition: 0.5s ease-in-out;
}
.controls {
  width: 30%;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 5vw;
}
.circle {
  width: 1vw;
  height: 1vw;
  display: block;
  border: 0.3vw solid var(--buttons-color-accent);
  border-radius: 50%;
  background-color: var(--buttons-color-main);
  transition: 0.5s ease-in-out;
}
/*------------CIRCLES LOGIC--------------
----- # 1 ---*/
#btn1:hover ~ .info #circle1,
#btn2:hover ~ .info #circle2,
#btn3:hover ~ .info #circle3,
#btn4:hover ~ .info #circle4,
#btn5:hover ~ .info #circle5 {
  background-color: red;
}
#btn1:active ~ .info #circle1,
#btn2:active ~ .info #circle2,
#btn3:active ~ .info #circle3,
#btn4:active ~ .info #circle4,
#btn5:active ~ .info #circle5 {
  background-color: green;
  border: 0.3vw solid black;
}
#btn1:checked ~ .info #circle1,
#btn2:checked ~ .info #circle2,
#btn3:checked ~ .info #circle3,
#btn4:checked ~ .info #circle4,
#btn5:checked ~ .info #circle5 {
  background-color: black;
}
/* 1 */
#btn1:checked ~ .media .meme {
  transform: translateY(0%);
}
#btn1:checked ~ .info .captions p:nth-of-type(1) {
  transform: translateY(0%);
}
/* 2 */
#btn2:checked ~ .media .meme {
  transform: translateY(-100%);
}
#btn2:checked ~ .info .captions p:nth-of-type(2) {
  transform: translateY(-100%);
}
/* 3 */
#btn3:checked ~ .media .meme {
  transform: translateY(-200%);
}
#btn3:checked ~ .info .captions p:nth-of-type(3) {
  transform: translateY(-200%);
}
/* 4 */
#btn4:checked ~ .media .meme {
  transform: translateY(-300%);
}
#btn4:checked ~ .info .captions p:nth-of-type(4) {
  transform: translateY(-300%);
}
/* 5 */
#btn5:checked ~ .media .meme {
  transform: translateY(-400%);
}
#btn5:checked ~ .info .captions p:nth-of-type(5) {
  transform: translateY(-400%);
}